@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';

body {
    background: $dark-gray;
    font-family: $secondary-font;
    color: $light-gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    color: $teal;
    margin: .25em auto;
}

.movie {
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    max-width: 950px;
    
    header {
        font-size: 2em;
        grid-column: 5 / span 8;
    }
    
    h1 {
        margin: 0 auto 0;
    }
}

.cover-art {
    width: 100%;
    max-width: 300px;
    max-height: 450px;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}

#summary {
    grid-column: 5 / span 8;
    grid-row: 3 / span 1;
}

#people {
    grid-column: 5 / span 8;
}

.person {
    display: inline-block;
    margin: 0 .5em 0 0;
}

#ratings {
    grid-column: 10 / span 3;
    grid-row: 4 / span 1;
    background: $yellow;
    @include container;
    
    h2 {
        color: $red;
    }
}

#user-data {
    grid-column: 5 / span 5;
    grid-row: 4 / span 1;
    background: $light-gray;
    @include container;
}

.data-container {
    display: flex;
    align-items: center;
    
    p {
        margin-right: .5em;
    }
}

.search-poster {
    width: 50px;
}

#search {
    margin: 2em;
    
    & > button {
        background: $red;
        color: $white;
        border: 1px solid $red;
        padding: .5em;
        @include button;
    }
}

#search-field {
    margin-right: 1em;
    width: 25%;
    padding: .5em;
}

#search-results {
    margin-top: 1em;
    
    & button {
        margin-right: 1em;
        background: $white;
        width: 250px;
        display: inline-flex;
        border: 1px solid $white;
        font-family: $primary-font;
        @include button;
        
        & span {
            align-self: center;
            margin: auto;
        }
    }
}