@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';

body {
    background: $dark-gray;
    font-family: $secondary-font;
    color: $light-gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    color: $teal;
}

.movie {
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    max-width: 1000px;
    
    header {
        font-size: 2em;
        grid-column: 5 / span 8;
    }
    
    h1 {
        margin: .5em auto 0;
    }
}

.cover-art {
    width: 100%;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}

#people {
    grid-column: 5 / span 6;
}

.person {
    display: inline-block;
    margin: 0 .5em 0 0;
}

#ratings {
    grid-column: 10 / span 3;
    grid-row: 3 / span 2;
    background: $yellow;
    @include container;
    
    h2 {
        color: $red;
    }
}

#user-data {
    grid-column: 5 / span 5;
    grid-row: 3 / span 2;
    background: $light-gray;
    @include container;
}