@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';

body {
    background: $dark-gray;
    font-family: $secondary-font;
    color: $light-gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    color: $teal;
}

.movie {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    
    header {
        font-size: 2em;
        grid-column: 5 / span 8;
    }
    
    h1 {
        margin: .5em auto .25em;
    }
}

.cover-art {
    width: 100px;
    margin: 0 2em .5em 2em;
    grid-column: 1 / span 4;
    grid-row-start: 1;
}

#people {
    grid-column: 5 / span 6;
}

.person {
    display: inline-block;
    margin-left: 1em;
}

#ratings {
    grid-column: 10 / span 3;
    grid-row: 3 / span 3;
    background: $yellow;
    @include container;
    
    h2 {
        color: $red;
    }
}

#user-data {
    grid-column: 5 / span 5;
    grid-row-start: 4;
    background: $light-gray;
    @include container;
}