//Colors
$dark-gray: #1f2421;
$red: #6b0f1a;
$teal: #0f8b8d;
$yellow: #ffd25a;
$light-gray: #c6c5b9;
$white: #ffffff;

//Fonts
$primary-font: Cinzel, serif;
$secondary-font: Raleway, sans-serif;

//Styles
$border-radius: 1px;
$container-padding: .5em;